html {
  background-color: antiquewhite;
}

.pet-container {
  align-content: center;
  display: block;
}

#zen {
  border-radius: 50px;
  border-style: groove;
  border-color: black;
  display: block;
  max-height: 55vh;
  margin-left: auto;
  margin-right: auto;
  left: 3em;
}

.status-container {
  transform: translateX(43vw);
  position: relative;
  font-size: 1.8em;
}

div button {
  padding: 20px;
  transform: translateY(-50%);
  transform: translateX(41vw);
  position: relative;
}

button {
  margin: 20px;
}
